<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pastebin - View Paste</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'block.css' %}">
</head>
<body>
    <h1>Paste ID: {{ block_id }}</h1>
    <div id="pasteContent">
        <pre>{{ text }}</pre>
        {% if author %}
        <p class="footer">Author: {{ author }}</p>
        {% endif %}
    </div>
    <div id="expiryTimer" class="footer">
        Paste expires in: <span id="timer"></span>
    </div>
    <div class="footer">
        <a href="/">Create New Paste</a>
    </div>

    <script>
        function startTimer(duration, display) {
            var timer = duration, minutes, seconds;
            setInterval(function () {
                minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = minutes + ":" + seconds;

                if (--timer < 0) {
                    timer = duration;
                }
            }, 1000);
        }

        window.onload = function () {
            var expiryTime = {{ expiry }};
            var now = Math.floor(Date.now() / 1000); // Current time in Unix timestamp format
            var duration = expiryTime - now; // Duration in seconds until expiry
            var display = document.querySelector('#timer');
            startTimer(duration, display);
        };
    </script>
</html>
