<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paste Submission Form</title>

    <!-- Include flatpickr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>
    <form id="pasteSubmissionForm" method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>

    <div id="response">
        <p id="responseMessage"></p>
        <div id="responseUrl"></div>
    </div>

    <!-- Include flatpickr JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <!-- JavaScript code for flatpickr initialization -->
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Calculate the date 2 days from now
            const twoDaysFromNow = new Date();
            twoDaysFromNow.setDate(twoDaysFromNow.getDate() + 2);

            flatpickr(".flatpickr", {
                enableTime: true,
                dateFormat: "Z",
                time_24hr: true,
                minuteIncrement: 1,
                defaultDate: twoDaysFromNow,
                minDate: "today",
                altInput: true,
                altFormat: "F j, Y H:i",
                allowInput: true
            });

            // Handle form submission
            document.getElementById("pasteSubmissionForm").addEventListener("submit", function(event) {
                event.preventDefault(); // Prevent default form submission

                const form = event.target;
                const formData = new FormData(form);

                // Submit form data using Fetch API
                fetch(form.action, {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': formData.get('csrfmiddlewaretoken')
                    }
                })
                .then(response => response.json())
                .then(data => {
                    // Process the response data
                    document.getElementById('responseMessage').textContent = 'Success: ' + data.message;
                    const url = window.location.origin + data.url;
                    document.getElementById('responseUrl').innerHTML = `<a href="${url}" target="_blank">${url}</a>`;
                })
                .catch(error => {
                    document.getElementById('responseMessage').textContent = 'Error: ' + error;
                });
            });
        });
    </script>
</body>
</html>
