<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Submission</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="{% static 'timer.css' %}">
</head>
<body>
    <h1>Submit Text</h1>
    <form id="textForm" action="/submit-text/" method="post">
        <label for="textInput">Enter text:</label>
        <input type="text" id="textInput" name="textInput" required>
        
        <label for="authorInput">Author (optional):</label>
        <input type="text" id="authorInput" name="authorInput" pattern="[a-zA-Z0-9_@-]*" title="Author name can only contain letters, numbers, and _ @ -">

        <label for="expiration">Expiration Time:</label>
        <div id="timer" class="timer">
                <!-- Days -->
            <div id="days" class="column">
            </div>
                <!-- Hours -->
            <div id="hours" class="column">
            </div>
                <!-- Minutes -->
            <div id="minutes" class="column">
            </div>
        </div>

        <!-- Password Field -->
        <label for="passwordInput">Enter password (optional):</label>
        <input type="password" id="passwordInput" name="passwordInput">

        <button type="submit">Submit</button>
    </form>

    <p id="responseMessage"></p>
    <p id="responseUrl"></p>

    <script src="{% static 'main.js' %}"></script>
</body>
</html>
