{# templates/list_pastes_part.html #}
{% for metadata in metadatas %}
<div class="col-md-12 col-lg-4 mb-4">
    <div class="card">
        <div class="card-header">
            {{ metadata.name }}
            <span class="badge {% if metadata.is_protected == 'private' %}badge-private{% else %}badge-public{% endif %} float-right">
                {{ metadata.is_protected }}
            </span>
        </div>
        <div class="card-body">
            <div class="field">
                <span class="field-name">Link:</span>
                <a class="link" href="{% url 'check_protection' metadata.slug %}">{{ metadata.slug }}</a>
            </div>
            {% for key, value in metadata.items %}
                {% if key != "name" and key != "is_protected" %}
                <div class="field">
                    <span class="field-name">{{ key|capfirst }}:</span>
                    <span>{{ value }}</span>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}