{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}List of Pastes{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'list_pastes.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <h1>List of Pastes</h1>

    <div class="mb-3">
        <form id="filter-sort-form" class="form-inline">
            <label for="filter" class="mr-2">Show:</label>
            <select name="filter" id="filter" class="form-control mr-3">
                <option value="all">All</option>
                <option value="public">Public Only</option>
            </select>

            <label for="sort" class="mr-2">Sort by:</label>
            <select name="sort" id="sort" class="form-control mr-3">
                <option value="name">Name</option>
                <option value="slug">Slug</option>
                <option value="timestamp">Timestamp</option>
                <option value="expiry_time">Expiry Time</option>
            </select>

            <button type="button" id="sort-order-btn" data-order="desc" class="down">
                <i></i>
            </button>
        </form>
    </div>

    <div class="view-toggle">
        <button id="list-view-btn" class="btn btn-primary">List View</button>
        <button id="grid-view-btn" class="btn btn-secondary">Grid View</button>
    </div>

    <div id="pastes-container" class="row list-view">
        <!-- Content will be loaded here by JavaScript -->
    </div>

    <select name="paginate_by" id="paginate_by" class="form-control mr-3">
        <option value="9">9</option>
        <option value="18">18</option>
        <option value="27">27</option>
    </select>
</div>

<button class="pagination-btn" id="previous-page" aria-label="Previous">
    <span aria-hidden="true">&laquo;</span>
</button>
<button class="pagination-btn" id="next-page" aria-label="Next">
    <span aria-hidden="true">&raquo;</span>
</button>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>

<script>
    $(document).ready(function() {
        let currentPage = 1;
        let hasNext = true;

        $('#list-view-btn').click(function() {
            $('#pastes-container').removeClass('grid-view').addClass('list-view');
        });

        $('#grid-view-btn').click(function() {
            $('#pastes-container').removeClass('list-view').addClass('grid-view');
        });

        $('#sort-order-btn').click(function() {
            toggleSortOrder();
        });

        $('#filter, #sort, #paginate_by').change(function() {
            currentPage = 1; 
            applyFilterSort(currentPage);
        });

        $('#previous-page').click(function() {
            if (currentPage > 1) {
                currentPage--;
                applyFilterSort(currentPage);
            }
        });

        $('#next-page').click(function() {
            if (hasNext) {
                currentPage++;
                applyFilterSort(currentPage);
            }
        });

        applyFilterSort(currentPage);
    });

    function applyFilterSort(page) {
        const filter = $('#filter').val();
        const sort = $('#sort').val();
        const order = $('#sort-order-btn').data('order');
        const paginate_by = $('#paginate_by').val();

        $.ajax({
            url: '{% url "list_pastes_api" %}', // Update this URL to match your Django URL configuration
            data: {
                filter: filter,
                ordering: `${order === 'asc' ? '' : '-'}${sort}`,
                page: page,
                paginate_by: paginate_by
            },
            success: function(response) {
                renderPastes(response.results);
                updatePaginationButtons(response.previous, response.next);
                hasNext = !!response.next;
                currentPage = page;
            }
        });
    }

    function renderPastes(pastes) {
        const container = $('#pastes-container');
        container.empty();

        pastes.forEach(paste => {
            const pasteHtml = `
                <div class="col-md-12 col-lg-4 mb-4">
                    <div class="card">
                        <div class="card-header">
                            ${paste.name}
                            <span class="badge ${paste.is_protected === 'private' ? 'badge-private' : 'badge-public'} float-right">
                                ${paste.is_protected}
                            </span>
                        </div>
                        <div class="card-body">
                            <div class="field">
                                <span class="field-name">Link:</span>
                                <a class="link" href="/check_protection/${paste.slug}">${paste.slug}</a>
                            </div>
                            ${Object.keys(paste).map(key => {
                                if (key !== 'name' && key !== 'is_protected') {
                                    return `
                                        <div class="field">
                                            <span class="field-name">${key.replace(/_/g, ' ').charAt(0).toUpperCase() + key.replace(/_/g, ' ').slice(1)}:</span>
                                            <span>${paste[key]}</span>
                                        </div>
                                    `;
                                }
                                return '';
                            }).join('')}
                        </div>
                    </div>
                </div>
            `;
            container.append(pasteHtml);
        });
    }

    function toggleSortOrder() {
        const orderBtn = $('#sort-order-btn');
        const currentOrder = orderBtn.data('order');

        if (currentOrder === 'asc') {
            orderBtn.data('order', 'desc');
            orderBtn.removeClass('up').addClass('down');
        } else {
            orderBtn.data('order', 'asc');
            orderBtn.removeClass('down').addClass('up');
        }
        applyFilterSort(currentPage);
    }

    function updatePaginationButtons(hasPrevious, hasNext) {
        const prevButton = $('#previous-page');
        const nextButton = $('#next-page');
        
        if (hasPrevious) {
            prevButton.removeClass('disabled');
            prevButton.prop('disabled', false);
        } else {
            prevButton.addClass('disabled');
            prevButton.prop('disabled', true);
        }
    
        if (hasNext) {
            nextButton.removeClass('disabled');
            nextButton.prop('disabled', false);
        } else {
            nextButton.addClass('disabled');
            nextButton.prop('disabled', true);
        }
    }
</script>
{% endblock %}