<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paste Submission Form</title>

    {% load static %}
    <!-- Include flatpickr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
    <form id="pasteSubmissionForm" method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>

    <div id="response">
        <p id="responseMessage"></p>
        <div id="responseUrl"></div>
    </div>

    <!-- Include flatpickr JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <!-- JavaScript code for flatpickr initialization -->
    <script src="{% static 'submit_text.js' %}"></script>
</body>
</html>
