{% extends 'base.html' %}
{% load static %}

{% block title %}New text-paste Submission Form{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" href="{% static 'submit_text.css' %}">
{% endblock %}

{% block content %}
<form id="pasteSubmissionForm" method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>

<div id="response">
    <p id="responseMessage"></p>
    <div id="responseUrl"></div>
</div>
{% endblock %}

<!-- var expiryTime = dayjs('{{ expiry_time|escapejs }}'); -->
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="{% static 'submit_text.js' %}"></script>
{% endblock %}