{% extends 'base.html' %}
{% load static %}

{% block title %}Pastebin - View Paste{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'view_paste.css' %}">
    <!-- Include dayjs from a CDN -->
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/duration.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/relativeTime.js"></script>
{% endblock %}

{% block content %}
<h1>Paste ID: {{ slug }}</h1>
<div id="pasteContent">
    <pre>{{ text }}</pre>
    {% if author %}
    <p class="footer">Author: {{ author }}</p>
    {% endif %}
</div>
<div id="expiryTimer" class="footer">
    Paste expires in: <span id="timer"></span>
</div>
<div class="footer">
    <a href="/">Create New Paste</a>
    </div>
{% endblock %}

<!-- var expiryTime = dayjs('{{ expiry_time|escapejs }}'); -->
{% block scripts %}
<script>
    // Activate the duration and relativeTime plugins
    dayjs.extend(dayjs_plugin_duration);
    dayjs.extend(dayjs_plugin_relativeTime);

    window.onload = function () {
        // Parse the expiry time passed from the backend
        var expiryTime = dayjs('{{ expiry_time|escapejs }}');
        var display = document.querySelector('#timer');
        updateTimer(expiryTime, display); // Initial call to set the time
        var intervalId = setInterval(function() {
            updateTimer(expiryTime, display, intervalId);
        }, 1000);
    };

    function updateTimer(expiryTime, display, intervalId) {
        var now = dayjs();
        var remaining = expiryTime.diff(now, 'second'); // Calculate the remaining time in seconds

        if (remaining <= 0) {
            clearInterval(intervalId); // Stop the timer
            display.innerHTML = "00:00:00:00"; // Show expired
            showExpiredPage(); // Call function to display expired page
        } else {
            var duration = dayjs.duration(remaining, 'seconds');
            var days = duration.days().toString().padStart(2, '0');
            var hours = duration.hours().toString().padStart(2, '0');
            var minutes = duration.minutes().toString().padStart(2, '0');
            var seconds = duration.seconds().toString().padStart(2, '0');
            display.innerHTML = `${days}:${hours}:${minutes}:${seconds}`;
        }
    }

    function showExpiredPage() {
        document.body.innerHTML = `
            <div class="container">
                <h1>This Page Has Expired</h1>
                <p>Sorry, the content you are trying to access has expired.</p>
                <p>Please visit our <a href="{% url 'submit_text' %}">homepage</a>!</p>
            </div>
        `;
    }
</script>
{% endblock %}
