{% extends 'base.html' %}
{% load static %}

{% block title %}Pastebin - View Paste{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'view_paste.css' %}">
{% endblock %}

{% block content %}
<h1>Paste ID: {{ slug }}</h1>
<div id="pasteContent">
    <pre>{{ text }}</pre>
    {% if author %}
    <p class="footer">Author: {{ author }}</p>
    {% endif %}
</div>
<div id="expiryTimer" class="footer">
    Paste expires in: <span id="timer"></span>
</div>
<div class="footer">
    <a href="/">Create New Paste</a>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'view_paste.js' %}"></script>
<script>
    window.onload = function () {
        // Pass expiry_time to the external JS file
        var expiryTime = '{{ expiry_time|escapejs }}';
        var homeurl = "{% url 'home' %}"
        initializeTimer(expiryTime, homeurl);
    };
</script>
{% endblock %}